nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px 160px;
}
.nav-title{
    font-size: 40px;
}

.text-primary{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(2, 114, 2);
}
.sign-btn{
    background-color: #F5F5F5;
    font-size: 24px;
    padding: 13px 26px;
    border-radius: 8px;
    color: #01503c;
    border-color: #014937;
    cursor: pointer;
    
}
.new-btn{
    color: white;
    background-color: green;
    font-size: 18px;
    padding: 17px 34px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.banner{
    display: flex;
    justify-content: space-between;
    background-color: #d4e7de;
    margin: 10%;
    margin-top: 0px;
    border-radius: 24px;
    padding: 80px 100px;
}
.banner-content{
    width: 622px;
    
}
.banner-greeting{
    color: #474747;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.banner-title{
    font-size: 56px;
    font-weight: bold;
}

.banner-image{
    width: 474px;
    padding-left: 64px;
}

.skills{
    margin: 10%;
    padding-left: 80px;
}
.skills-container{
    display: flex;
    margin: 0 auto;
    gap: 24px;
   
}
.skill{
    padding: 10px 10px;
    width: 300px;
    height: 200px;
    box-shadow: 5px 5px 7px 2px;
}
.section-title{
    font-size: 35px;
}
.box-contain{
    margin: 10%;
}
.all-box{
    display: flex;
    gap: 24px;
    font-size: 20px;
    color: #383838;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.Digital-box{
    text-align: justify;
    width: 410px;
    height: 325px;
    padding: 30px;
    background-color: #bad5fa;
    border-radius: 16px;
}
.Green-box{
    text-align: justify;
    width: 410px;
    height: 325px;
    padding: 30px;
    background-color: rgb(236, 236, 158);
    border-radius: 16px;
    
}
.Modern-box{
    text-align: justify;
    width: 410px;
    height: 325px;
    padding: 30px;
    background-color: #F7EBCF;
    border-radius: 16px;
}
.learn-btn-1{
    color: white;
    font-size: 18px;
    background-color: #3f77c5;
    padding: 8px 8px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.learn-btn-2{
    color: white;
    font-size: 18px;
    background-color: rgb(4, 221, 51);
    padding: 8px 8px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.learn-btn-3{
    color: white;
    font-size: 18px;
    background-color: rgb(241, 237, 2);
    padding: 8px 8px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.box-title{
    font-size: 40px;
    font-weight: bold;
}

.box-description{
    color: #474747;
    font-weight: bold;
}
.about{
    background-color: rgb(253, 245, 235);
    text-align: justify;
    margin: 10%;
    border-radius: 16px;
    padding: 30px;
    color: #474747;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.d-img{
    position: absolute;
}
.box1{
    width: 1280px;
    display: flex;
    justify-content: space-evenly;
    background-color: #f0ecec;
    border-radius: 16px;
    padding: 40px 45px;
}
.box2{
    width: 1280px;
    display: flex;
    justify-content: space-evenly;
    background-color: #f0ecec;
    border-radius: 16px;
    padding: 40px 45px;
}
.boxes-container{
    margin: 10%;
}
.box1-left{
    padding-right: 35px;
}
.box2-right{
    padding-right: 100px;
}
.box1-left img{
    border-radius: 20px;
}
.box2-left img{
    border-radius: 20px;
}
.read-btn{
    color: white;
    background-color: #f37906;
    padding: 10px 10px;
    border-radius: 6px;
    border: none;
    cursor: pointer;

}
.boxes-container h2{
    font-size: 35px;
}
.boxes-container p{
    color: #474747;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.boxes-container h3{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #474747;
    font-weight: bold;
}
.last{
    text-align: center;
    padding: 0px 20px 40px 40px;
}
.last h2{
    font-size: 35px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.last p{
    color: #474747;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.parent{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 0;

}
.child{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid grey;
    background-color: #eaeef0;
    padding: 25px 40px;
    border-radius: 8px;
}
.center{
    margin: auto;
    display: block;
    width: 800px;
    height: 60px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #474747;
    font-size: 18px;
    font-weight: bold;
    border: none rgb(207, 205, 205);
    border-width: 0px;
    border-radius: 18px;
    

}
.space{
    padding-top: 20px;
}
.donate-btn{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 80px;
    padding-top: 10px;
    
    
}
.btn-donate{
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: #02420c;
    cursor: pointer;
}
.extra{
    background-color: #7fa0cf;
}

 

